/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBold"; */
@font-face {
    font-family: "MyriadProBold";
    src: url("../fonts/MyriadProBold/MyriadProBold.eot");
    src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProItalic"; */
@font-face {
    font-family: "MyriadProItalic";
    src: url("../fonts/MyriadProItalic/MyriadProItalic.eot");
    src: url("../fonts/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"),
    url("../fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProSemiBold"; */
@font-face {
    font-family: "MyriadProSemiBold";
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBoldItalic"; */
@font-face {
    font-family: "MyriadProBoldItalic";
    src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot");
    src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"),
    url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProSemiBoldItalic"; */
@font-face {
    font-family: "MyriadProSemiBoldItalic";
    src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
    src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),
    url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "HelveticaNeueCyr-Bold";
    src: url("../fonts/HelveticaNeueCyr-Bold.otf");
}
img[src="/img/call.png"]{
    margin-bottom: 20px;
}
a:hover, a:focus {
  text-decoration: none;
  outline: none;
}
body{
    line-height: normal;
    background: url("/img/bgr_main.png") repeat;
}
.container {
  width: 1140px;
  padding: 0;
}
#fancybox-close {
  position: absolute;
  top: -47px;
  right: -68px;
  width: 44px;
  height: 44px;
  background: transparent url('/img/x.png') center no-repeat;
  cursor: pointer;
  z-index: 1103;
  display: none;
}
#map{
    width: auto;
    height: 600px;
}
.ymaps-2-1-26-copyright{
    display: none;
}
#contact-form div.dialog_title{
    background-color: #fff;
    font-size: 20px;
    position: relative;
    left: -12px;
    padding: 6px;
    text-align: center;
    width: 260px;
    border: 4px solid #6EB048;
    border-radius: 10px;
}
div[aria-describedby="formDialog"].ui-widget-content {
  border: none;
  background:  url("/img/form_bgr.png") center no-repeat;
}
div[aria-describedby="formDialog"] .ui-widget-header {
    border: none;
    background: none;
    color: #222;
    font-weight: bold;
    padding: 0;
}
div[aria-describedby="formDialog"] .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    width: 28px;
    height: 28px;
    margin: -15px -9px 0 0;
    background: url('/img/close_form.png');
    border: 0px solid #d3d3d3;
}
div[aria-describedby="formDialog"] button.ui-dialog-titlebar-close{
    width: 28px;
    height: 28px;
    margin: -15px -9px 0 0;
    background: url('/img/close_form.png');
    border: 0px solid #d3d3d3;
}
div[aria-describedby="formDialog"] .form_title{
    color: white;
    font-size: 22px;
    font-family: MyriadProRegular;
    margin: -14px 0 0 0;
    text-transform: uppercase;
    text-align: center;
}
label[for="ContactForm_phone"]{
    display: none;
}
label[for="ContactForm_name"]{
    display: none;
}
label[for="ContactForm_email"]{
    display: none;
}
.super_form #ContactForm_phone.form-control {
    background: transparent;
    background-image: url('/img/form_input_phone.png');
    width: 100%;
    height: 100%;
    width: 284px;
    border: none;
    height: 45px;
    color: white;
    padding-left: 60px;
    margin-left: 30px;
}

.super_form #ContactForm_name.form-control {
    background: transparent;
    background-image: url('/img/form_input_name.png');
    width: 100%;
    height: 100%;
    width: 284px;
    border: none;
    height: 45px;
    color: white;
    padding-left: 60px;
    margin-left: 30px;
    margin-top: 30px;
}
.super_form #ContactForm_email.form-control {
    background: transparent;
    background-image: url('/img/form_input_email.png');
    width: 100%;
    height: 100%;
    width: 284px;
    border: none;
    height: 45px;
    color: white;
    padding-left: 60px;
    margin-left: 30px;
}
div[aria-describedby="formDialog"] button{
   margin: 20px 0 0 30px;
    width: 284px;
    font-family: MyriadProRegular;
    font-size: 18px;
}
div[aria-describedby="formDialog"] .ui-dialog .ui-dialog-title {
  margin: 0;
}
span #ui-id-1{
    padding: 0!important;
}
#formDialog ui-dialog-content ui-widget-content {
  padding: 0!important;
}
div[aria-describedby="formDialog"] .ui-state-default .ui-icon{
    background: none;
}
// Header Start

.header-line{
    height: 62px;
    
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    border-bottom: 4px solid #e8e8e8;
    z-index: 10;
}
.header-line{
  background: url('/img/bgr_header.png');
  z-index: 10;
  width: 100%;
  position: relative;
}

.header-line ul {
    list-style: none;
    float: right;
}
.header-line ul li {
    float: left;
    //width: 81px;
    //height: 28px;
    margin: 0px 14px;
}
.header-line ul li.li_menu a{
    font-family: MyriadProRegular;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    height: 28px;
    width: 100%;
    text-align: center;
    display: block;
    line-height: 28px;
    //margin: 16px 14px;
}
#main_menu li ul{
    display: none;
    position: absolute;
    left: -44px;
}
#main_menu li:hover ul{
    display: block;
}
#main_menu li ul li{
    background: #a72121;
    margin:4px;
}
#main_menu li ul li:hover{
    background: #a72121;
}
#main_menu li ul li a{
    font-size: 12px;
    color:#ffffff;
}
.li_menu ul li a:hover{
    background: #64d14e;
}
#main_menu li{
    position: relative;
    //margin-bottom: 10px;
   
}
#main_menu{
    margin: 0;
}
.header-line ul li.li_menu.active a,.header-line ul li.li_menu a:hover {
    color: #FFFFFF;
    border-bottom: 2px solid #2d87c6;
}
.logo{
    width: 157px;
    height: 58px;
    background: url('/img/logo.png') center no-repeat;
    display: inline-block;
    margin-top: 10px;
    float: left;
}
.header-text{
  width: 650px;
  height: 59px;
  font-family: MyriadProRegular;
  font-size: 24px;
  color: #fff;
  text-align: left;
  line-height: 26px;
  display: inline-block;
  margin: 13px 0 3px 25px;
}
.phone-header{
    width: 250px;
    height: 54px;
    float: right;
    margin-top: 6px;
}
.phone{
    font-family: MyriadProRegular;
    font-size: 29px;
    color: #fff;
}
.zvonok{
    font-family: MyriadProBold;
    text-decoration: underline;
    font-size: 18px;
    color: #fff;
    text-align: right;
    margin-right: 2px;
}
.header-border{
    background: url('/img/header-line.png');
    height: 2px;
    width: 100%
}

/* Header END */

/* Slider main START */ 

.main_slider_top{
   margin-top: -104px;
}
.baba{
    background: url('/img/baba.png') center no-repeat;
    background-size: cover;
    width: 372px;
    height: 394px;
    position: relative;
    float: left;
    margin: 152px 0 0 140px;
}
.slider_1_text_1{
    font-family: MyriadProRegular;
    font-size: 23px;
    //text-transform: uppercase;
    color: #fff;
    float: left;
    display: inline-block;
    margin: 170px 0 10px 0;
    line-height: 30px;
    text-shadow: -1px 1px 1px rgba(0,0,0,.5);
}
.slider_1_text_1 span{
    font-family: MyriadProBold;
    
}
.slider_1_text_2{
    font-family: MyriadProSemiBoldItalic;
    font-size: 24px;
    color: #fff;
    width: 992px;
    //float: left;
    //display: inline-block;
    margin: 0px 0 0 0;
    line-height: 30px;
    text-shadow: -1px 1px 1px rgba(0,0,0,.5);
}
.galochka{
    background: url('/img/galochka.png')center no-repeat;
    width: 22px;
    height: 22px;
    float: left;
    margin-right: 16px;
    margin-top: 6px;
}
.slider_1_button_1{
    width: 253px;
    height: 50px;
    background: url('/img/slide_button_1.png') -5px -5px;;
    margin: 30px 0 0 0;
    padding: 8px;
    text-align: center;
    display: inline-block;
    font-family: MyriadProBold;
    font-size: 18px;
    color: #323a52;
}
.slider_1_button_1:hover{
    background-position: -5px -65px;
}
.mujik{
background: url('/img/mujik.png') center no-repeat;
  background-size: cover;
  width: 638px;
  height: 351px;
  position: relative;
  float: left;
  margin: 194px 0 0 -20px;
}
.slider_1_text_3{
    position: absolute;
    text-transform: uppercase;
    top: -50px;
    left: 330px;
}
.slider_1_text_4{
    font-family: MyriadProRegular;
    font-size: 23px;
    //text-transform: uppercase;
    color: #fff;
    float: left;
    display: inline-block;
    margin: 210px 0 10px 0;
    line-height: 30px;
    text-shadow: -1px 1px 1px rgba(0,0,0,.5);
}
.slider_1_button_2{
    text-transform: uppercase;
    width: 331px;
    height: 51px;
    background: url('/img/slider_1_button_2.png') -5px -5px;
    margin: 30px 0 0 0;
    padding: 12px;
    text-align: center;
    display: inline-block;
    font-family: MyriadProBold;
    font-size: 18px;
    color: #323a52;
}
.slider_1_button_2:hover{
    background-position: -5px -66px;
}
.taho{
  background: url('/img/taho.png') center no-repeat;
  background-size: cover;
  position: relative;
  float: left;
  margin: 150px 0 0 30px;
  width: 1201px;
  height: 406px;
}

.slider_2{
    background: url('/img/bgr_slide_2.jpg') repeat-x ;
    width: 100%;
    height: 155px;
}
.klient1{
    background: url("/img/klient_1.png") center no-repeat;
    width: 100%;
    height: 100px;
    margin-top: 40px;
}
.klient2{
    background: url("/img/klient_2.png") center no-repeat;
    width: 100%;
    height: 100px;
    margin-top: 40px;
}
.klient3{
    background: url("/img/klient_3.png") center no-repeat;
    width: 100%;
    height: 100px;
    margin-top: 40px;
}
.slick-slide > image{
    margin: 0 auto;
}
.klienti{
  font-family: MyriadProSemiBold;
  font-size: 24px;
  color: #434d68;
  width: 200px;
  height: 24px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 16px auto;
}
/* Slider main END */


/* Left widget START */
.spec_form{
    background: url('/img/spec_man.png') center no-repeat;
    width: 281px;
    height: 319px;
    position: relative;
    padding: 140px 0 0px 24px;
    float: left;
}
.spec_form>.form-horizontal .control-label{
    display: none;
}
.spec_form .form-control {
  display: block;
  width: 230px;
  height: 34px;
  padding: 6px 12px;
    margin-left: 5px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 0px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.spec_form .btn-default.float_right   {
    width: 238px;
    border: none;
    height: 46px;
    box-shadow: none;
    background: url('/img/spec_button.png') -5px -5px;
}
.spec_form .help-block{
    font-size: 12px;
    color: red;
    height: 0;
    position: relative;
    top: -20px;
    left: 6px;
}
.spec_form .btn-default.float_right:hover {
    background-position: -5px -61px;
}
.za4em{
    width: 284px;
    height: 270px;
    margin-top: 30px;
    float: left;
}
.za4em_text{
    font-family: MyriadProRegular;
    font-size: 18px;
    color: #1e1e1e;
    margin-bottom: 10px;
    line-height: normal;
}
.za4em_text2{
    font-family: MyriadProBold;
    font-size: 24px;
    color: #1e1e1e;
    margin: 0px 0 25px 0;
    line-height: normal; 
}

/* Left widget END */

/* Otzivi slider START */
.slider_3{
    background: url('/img/otziv_bgr.png') center no-repeat;
    width: 286px;
    height: 555px;
    margin-top: 26px;
    float: left;
}
.otziv{
    width: 230px;
    height: 400px;
}
.name_otziv{
    float:left;
    width: 230px;
    height: 30px;
    color: #1e1e1e;
    font-size: 24px;
    font-family: MyriadProRegular;
    margin: 90px 30px 0 30px;
}
.dolzjnost_otziv{
    float:left;
    width: 230px;
    height: 30px;
    color: #1e1e1e;
    font-size: 16px;
    font-family: MyriadProRegular;
    margin: 0px 30px 10px 30px;
}
.text_otziv{
    float:left;
    width: 230px;
    height: 350px;
    color: #1e1e1e;
    font-size: 16px;
    font-family: MyriadProRegular;
    margin: 0px 30px 0px 30px;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 30px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: rgb(91, 118, 57);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: .75;
  color: rgb(91, 118, 57);
}
/* Otzivi slider END */

/* crazy_slider Start*/
.crazy_slider{
    background: url('/img/crazy_bgr.png') center no-repeat;
    //background-size: contain;
    position: relative;
    width: 828px;
    height: 523px;
    float: left;
    margin-top: 34px;
    margin-left: 16px;
}
#tabs{
    position: relative;
    width: 830px;
    height: 523px;
    float: left;
    margin-top: 34px;
    margin-left: 16px;
    padding: 0;
    border: 1px solid #d1d2d4
}
.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.ui-tabs .ui-tabs-panel {
    padding: 0!important;
}
.crazy_inset_1{
  width: 127px;
  height: 49px;
  background: url('/img/crazy_inset_1.png') center no-repeat;
  position: absolute;
  top: 0px;
  left: 20px;
  padding-top: 13px;
  text-align: center;
  display: inline-block;
  font-family: MyriadProRegular;
  font-size: 20px;
  color: #1e1e1e; 
}
.crazy_inset_2{
    width: 193px;
    height: 49px;
    background: url('/img/crazy_inset_2.png') center no-repeat;
    position: absolute;
    top: 0px;
    left: 360px;
    padding-top: 13px;
    text-align: center;
    display: inline-block;
    font-family: MyriadProRegular;
    font-size: 20px;
    color: #1e1e1e; 
}
.crazy_inset_3{
    width: 209px;
    height: 49px;
    background: url('/img/crazy_inset_3.png') center no-repeat;
    position: absolute;
    top: 0px;
    left: 580px;
    padding-top: 13px;
    text-align: center;
    display: inline-block;
    font-family: MyriadProRegular;
    font-size: 20px;
    color: #1e1e1e; 

}
.crazy_text{
    width: 275px;
    height: 420px;
    float: left;
    padding: 16px;
    padding-left: 23px;
}
#tabs ul.ui-widget-header {
    border: none!important;
    background: linear-gradient(to top, #D2D3D5, #F4F5F7)!important;
    color: #222!important;
    width: 830px!important;
    height: 43px!important;
    position: relative!important;
    border-radius: 0px 0px 0 0!important;
    font-weight: bold!important;
    left: -1px!important;
    top: -1px!important;
    border-bottom: 2px solid #a7abae!important;
}
li.cr_1{
    width: 127px!important;
    height: 42px!important;
    position: relative!important;
    top: -5px!important;
    border: none!important;
    background: url('/img/cr_2.png') center no-repeat!important;
    background-size: cover!important;
}
li.cr_1.ui-state-active{
    background: url('/img/cr_1.png') center no-repeat!important;
    background-size: cover!important;
}
li.cr_2{
    width: 317px!important;
    height: 42px!important;
    position: relative!important;
    top: -5px!important;
    border: none!important;
    background: url('/img/cr_3.png') center no-repeat!important;
    background-size: cover!important;
}
li.cr_2.ui-state-active{
    background: url('/img/cr_4.png') center no-repeat!important;
    background-size: cover!important;
}
.cr_ha{
    float: left;
    margin-right: 13px;
}
.cr_ha_t_1{
    font-family: MyriadProBold;
    font-size: 18px;
    color: #1e1e1e;
}
.cr_ha_t_2{
    font-family: MyriadProRegular;
    font-size: 18px;
    color: #1e1e1e;
}
.cr_btn{
    width: 280px;
    margin-top: 20px;
    height: 45px;
    display: block;
    background: url('/img/cr_btn.png') -5px -5px;
}
.cr_btn:hover{
    width: 278px;
    height: 40px;
    background-position: -5px -60px;
}
.crazy_bgr{
    background: url('/img/crazy_bgr.png') center no-repeat;
    position: absolute;
    bottom: 40px;
    left: 18px;
    width: 764px;
    height: 409px;
    
}
.crazy_h1{
    margin-bottom: 90px;
    margin-top: 5px;
    font-family: MyriadProBold;
    color: #1e1e1e;
    font-size: 20px;
    line-height: normal;
    text-align: left;
}
.crazy_h2{
    margin-bottom: 0;
    margin-top: 5px;
    font-family: MyriadProSemiBold;
    color: #1e1e1e;
    font-size: 16px;
    line-height: normal;
    text-align: left;
}
.crazy_h3{
    margin-bottom: 0;
    margin-top: 10px;
    font-family: MyriadProItalic;
    color: #1e1e1e;
    font-size: 16px;
    line-height: normal;
    text-align: left;
}
.crazy_button{
    background: url('/img/crazy_button.png') -5px -5px no-repeat;
    background-repeat: no-repeat;
    display: block;
    width: 162px;
    height: 46px;
    font-family: MyriadProSemiBold;
    font-size: 18px;
    color:#323a52;
    padding-top: 9px;
    padding-left: 16px;
    position: absolute;
    bottom: 14px;
}
.crazy_button:hover {
    background-position: -5px -61px;
}

/* crazy_slider END*/
/* Оформите карту за 5 мин Start*/
.sprite1 {
    background: url('/img/5_min_button.png') 0 0 no-repeat;
    background-repeat: no-repeat;
    display: block;
    width: 259px;
    height: 80px;
    margin: 180px 0 0 570px;
}

.sprite1:hover {
    background-position: 0 -80px;
}


.min_5{
    background: url('/img/5_min.png') center no-repeat;
    width: 846px;
    height: 300px;
    float: right;
}

/* Оформите карту за 5 мин END*/
/* Index Start*/
.text1{
    font-size: 18px;
    color: #1e1e1e;
    font-family: MyriadProRegular;
    line-height: normal;
}
.main_ta{
    background: url('/img/main_ta.png') center no-repeat;
    width: 766px;
    height: 400px;
    float: right;
    position: relative;
}
.main_ta_button_1{
    width: 203px;
    height: 55px;
    background: url('/img/main_ta_button_1.png') -5px -5px;
    position: absolute;
    top: 30px;
    padding-top: 11px;
    padding-left: 20px;
    text-align: center;
    display: inline-block;
    font-family: MyriadProBold;
    font-size: 18px;
    color: #323a52;
}
.main_ta_button_1:hover{
    background-position: -5px -70px;
}

.main_ta_button_2{
    width: 203px;
    height: 55px;
  background: url('/img/main_ta_button_2.png') -5px -5px;
  position: absolute;
  top: 30px;
  left: 350px;
  padding-top: 11px;
  padding-left: 20px;
  text-align: center;
  display: inline-block;
  font-family: MyriadProBold;
  font-size: 18px;
  color: #323a52;
}
.main_ta_button_2:hover{
    background-position: -5px -70px;
}
.main_ta_button_3{
   width: 203px;
    height: 55px;
  background: url('/img/main_ta_button_3.png') -5px -5px;
  position: absolute;
  top: 110px;
  right: 0px;
  padding-top: 11px;
  padding-left: 20px;
  text-align: center;
  display: inline-block;
  font-family: MyriadProBold;
  font-size: 18px;
  color: #323a52;
}
.main_ta_button_3:hover{
     background-position: -5px -70px;
}
.main_ta_button_4{
  width: 370px;
    height: 56px;
  background: url('/img/main_ta_button_4.png') -5px -5px;
  position: absolute;
    bottom: 0px;
  right: 0px;
  padding-top: 11px;
  padding-left: 30px;
  text-align: center;
  display: inline-block;
  font-family: MyriadProBold;
  font-size: 18px;
  color: #323a52;
}
.main_ta_button_4:hover{
  background-position: -5px -71px;
}
.main_ta_button_5{
    width: 370px;
    height: 56px;
  background: url('/img/main_ta_button_5.png') -5px -5px;
  position: absolute;
  left: 0px;
  bottom: 0;
  padding-top: 11px;
  padding-left: 20px;
  text-align: center;
  display: inline-block;
  font-family: MyriadProBold;
  font-size: 18px;
  color: #323a52;
}
.main_ta_button_5:hover{
    background-position: -5px -71px;
}
.green_car{
    background: url('/img/green_car.png') center no-repeat;
    width: 651px;
    height: 248px;
    position: absolute;
    bottom: 30px;
    left:0px;
}

.green_car_button{
    width: 331px;
    height: 49px;
  background: url('/img/green_car_button.png') -5px -5px;
  position: absolute;
  right: 116px;
  bottom: 30px;
  padding-top: 13px;
  text-align: center;
  display: inline-block;
  font-family: MyriadProRegular;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}
.green_car_button:hover{
    background-position: -5px -64px;
}
.ll{
    background: url('/img/ll.png') repeat;
    width: 100%;
    height: 2px;
    float: right;
}
.image1{
    background: url('/img/image1.png')center no-repeat;
  width: 434px;
  height: 110px;
  margin: 0 auto;
}
.price_button{
    width: 256px;
    height: 49px;
    background: url('/img/price_button.png') -5px -5px;
    margin: 0 auto;
    padding-top: 13px;
    text-align: center;
    display: inline-block;
    font-family: MyriadProRegular;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}
.price_button:hover{
    background-position: -5px -64px;
}
.image2{
    background: url('/img/image2.png')center no-repeat;
    width: 256px;
    height: 237px;
    float: left;
    margin-top: 38px;
}
.button_tf{
    width: 287px;
    height: 49px;
  background: url('/img/button_tf.png') -5px -5px;
  padding-top: 13px;
  text-align: center;
  display: inline-block;
  font-family: MyriadProRegular;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  bottom: 50px;
  left: 308px;
}
.button_tf:hover{
    background-position: -5px -64px;
}
.footer_bgr{
    background: url('/img/footer_bgr.png') center repeat;
    height: 479px;
    margin-bottom: -100px;
}
.footer_baba{
    background: url('/img/footer_baba.png')center no-repeat;
    width: 247px;
    height: 419px;
    float: left;
    margin-top: 60px;
}
.button_baba_footer{
    width: 420px;
    height: 49px;
  background: url('/img/button_corp.png') -5px -5px;
  padding-top: 13px;
  text-align: center;
  display: inline-block;
  font-family: MyriadProRegular;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  bottom: 0px;
  left: 308px;
}
.button_baba_footer:hover{
    background-position: -5px -64px;
}
.footer_line1{
    background: url('/img/footer_line1.png') center repeat;
    width: 100%;
    height: 3px;
}
.footer_line2{
    background: url('/img/footer_line2.png') center repeat;
    width: 100%;
    height: 250px;
}
/* Index END*/
/* Contacts START*/
.contacts_bgr{
    background: url('/img/contacts_bgr.png') center no-repeat;
    width: 340px;
    height: 382px;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 180px;
    padding: 54px 24px;
    font-family: HelveticaNeueCyr-Bold;
    color: #fff;
    text-align: left;
    line-height: normal;
}
.contacts_text_1{
    font-size: 22px;
    text-transform: uppercase;
}
.contacts_text_2{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 26px;
}
.contacts_text_2 a{
    color: #fff;
}
/* Contacts END*/
/* Map Selection START*/
.select_bgr_1{
    background: url('/img/select_bgr_1.png') center repeat;
    width: 100%;
    height: 155px;
}
.select_img_1{
    background: url('/img/select_img_1.png') center no-repeat;
    width: 109px;
    height: 105px;
    margin-top: 40px;
    margin-right: 20px;
      float: left;
}
.select_text_1{
    font-size: 24px;
    text-transform: uppercase;
    color: #1e1e1e;
    font-family: MyriadProBold;
    margin-top: 50px;
    line-height: normal;
}
.select_text_2{
    font-size: 24px;
    color: #1e1e1e;
    font-family: MyriadProRegular;
    line-height: normal;
}
.select_img_2{
    background: url('/img/select_img_2.png') center no-repeat;
    width: 115px;
    height: 117px;
    margin-top: 24px;
    margin-right: 16px;
    float: left;
}
.select_text_3{
    font-size: 24px;
    color: #1e1e1e;
    font-family: MyriadProRegular;
    line-height: normal;
    margin-top: 44px;
}
.select_line_top{
    width: 100%;
    height: 8px;
    background: url('/img/select_line_top.png') center repeat;
}
.select_line{
    width: 100%;
    height: 8px;
    background: url('/img/select_line.png') center repeat;
}
.big_line_select{
    background: url('/img/big_select_line.png') center repeat;
    width: 1056px;
    height: 110px;
    margin-top: 17px;
}
.select_bgr_3{
    background: url('/img/select_bgr_3.png') no-repeat;
    background-size: cover;
    height: 1234px;
    margin-bottom: -100px;
}
.select_text_4{
    font-size: 24px;
    color: #1e1e1e;
    font-family: MyriadProBold;
    line-height: normal;
    margin: 45px auto;
    text-transform: uppercase;
    text-align: center;
}
.select_text_5{
    font-family: MyriadProRegular;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    text-align: left;
    line-height: 30px;
}
.select_text_div{
    width: 290px;
    float: left;
}
.select_galka_1{
    background: url('/img/select_galka_1.png')center no-repeat;
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 16px;
    margin-top: 2px;
}
.select_galka_2{
    background: url('/img/select_galka_2.png')center no-repeat;
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 16px;
    margin-top: 2px;
}
.select_galka_3{
    background: url('/img/select_galka_3.png')center no-repeat;
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 16px;
    margin-top: 2px;
}
.select_galka_4{
    background: url('/img/select_galka_4.png')center no-repeat;
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 16px;
    margin-top: 2px;
}
.select_galka_5{
    background: url('/img/select_galka_5.png')center no-repeat;
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 16px;
    margin-top: 2px;
}
.select_galka_6{
    background: url('/img/select_galka_6.png')center no-repeat;
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 16px;
    margin-top: 2px;
}
.select_text_6{
    font-family: MyriadProSemiBold;
    font-size: 18px;
    color: #fff;
    text-align: left;
    line-height: normal;
    margin-top: 10px;
    float: left;
}
.select_button{
    width: 272px;
    height: 52px;
    background: url('/img/select_button.png') no-repeat -5px -5px;
    padding-top: 13px;
    text-align: center;
    display: inline-block;
    font-family: MyriadProSemiBold;
    font-size: 24px;
    text-transform: uppercase;
    color: #1e1e1e;
    position: absolute;
    bottom: 40px;
    left: 50px;
}
.select_button:hover{
    background-position: -5px -67px;
}
.select_map_1{
    background: url('/img/select_map_1.png') no-repeat;
    width: 376px;
    height: 530px;
    padding: 34px 0 0 34px;
    float: left;
    position: relative;
}
.select_map_2{
    background: url('/img/select_map_2.png') no-repeat;
    width: 376px;
    height: 530px;
    padding: 34px 0 0 34px;
    float: left;
    position: relative;
}.select_map_3{
    background: url('/img/select_map_3.png') no-repeat;
    width: 376px;
    height: 530px;
    padding: 34px 0 0 34px;
    float: left;
    position: relative;
}.select_map_4{
    background: url('/img/select_map_4.png') no-repeat;
    width: 376px;
    height: 530px;
    padding: 34px 0 0 34px;
    float: left;
    position: relative;
}.select_map_5{
    background: url('/img/select_map_5.png') no-repeat;
    width: 376px;
    height: 530px;
    padding: 34px 0 0 34px;
    float: left;
    position: relative;
}.select_map_6{
    background: url('/img/select_map_6.png') no-repeat;
    width: 376px;
    height: 530px;
    padding: 34px 0 0 34px;
    float: left;
    position: relative;
}

/* Map Selection END*/

/* News Start */

.news_text_1{
    font-size: 18px;
    color: #1e1e1e;
    text-transform: uppercase;
    font-family: MyriadProSemiBold;
    text-align: center;
    margin-top: 60px;
}
.news_div{
    width: 800px;
    height: 400px;
    margin-top: 30px;
    float: left;
    margin-left: 50px;
    position: relative;
}
.new_div{
    width: 800px;
    height: auto;
    margin-top: 30px;
    float: left;
    margin-left: 50px;
    position: relative;
}
.news_div_2{
    width: 494px;
    height: 312px;
    float: left;
}
.news_text_title{
  font-size: 18px;
  color: #1e1e1e;
  text-transform: uppercase;
  font-family: MyriadProSemiBold;
  text-align: left;
  line-height: normal;
}
.news_text{
    font-size: 18px;
    color: #1e1e1e;
    font-family: MyriadProRegular;
    text-align: left;
    line-height: normal;
    padding-top: 10px;
}
.news_img{
    width: 303px;
    //height: 197px;
    float: right;
}
.news_date{
    font-size: 18px;
    color: #1e1e1e;
    font-family: MyriadProRegular;
    text-align: left;
    line-height: normal;
    padding-top: 10px;
    float: left;
}
.news_button{
    background: url('/img/news.png') -5px -5px no-repeat;
    display: block;
    width: 234px;
    height: 45px;
    font-family: MyriadProSemiBold;
    font-size: 18px;
    color:#323a52;
    padding-top: 8px;
    padding-left: 40px;;
    position: absolute;
    bottom: 14px;  
}
.news_button:hover {
    background-position: -5px -60px;
}
.news_line{
  background: url('/img/news_line.png') no-repeat;
  width: 720px;
  height: 4px;
  float: left;
  position: absolute;
  bottom: 0;
}
/* News END */

/* Services Start */

.services_div{
    width: 814px;
    margin-top: 30px;
    float: right;
    margin-left: 42px;
    position: relative;
}
.services_icon_1{
    background: url('/img/services_icon_1.png') no-repeat;
    width: 19px;
    height: 20px;
    //margin-top: 30px;
    float: left;
    margin: 5px;
    margin-right: 10px;
    position: relative;
}
.services_icon_1{
    background: url('/img/services_icon_1.png') no-repeat;
    width: 19px;
    height: 20px;
    //margin-top: 30px;
    float: left;
    margin: 5px;
    margin-right: 10px;
    position: relative;
}
.services_icon_2{
    background: url('/img/services_icon_2.png') no-repeat;
    width: 27px;
    height: 26px;
    //margin-top: 30px;
    float: left;
    margin: 5px;
    margin-right: 10px;
    position: relative;
}
.services_icon_3{
    background: url('/img/services_icon_3.png') no-repeat;
    width: 19px;
    height: 20px;
    //margin-top: 30px;
    float: left;
    margin: 5px;
    margin-right: 10px;
    position: relative;
}
.services_icon_4{
    background: url('/img/services_icon_4.png') no-repeat;
    width: 20px;
    height: 20px;
    //margin-top: 30px;
    float: left;
    margin: 5px;
    margin-right: 10px;
    position: relative;
}
.services_icon_5{
    background: url('/img/services_icon_5.png') no-repeat;
    width: 23px;
    height: 23px;
    //margin-top: 30px;
    float: left;
    margin: 5px;
    margin-right: 10px;
    position: relative;
}
.services_title{
    font-size: 24px;
    color: #2d87c6;
    text-transform: uppercase;
    font-family: MyriadProBold;
    text-align: left;
    line-height: normal;
    margin: 5px;
    margin-right: 10px;
}
.services_img_1{
    width: 316px;
    height: 182px;
    float: right;
}
.services_img_2{
    width: 316px;
    height: 182px;
    float: right;
}
.services_img_3{
    width: 316px;
    height: 182px;
    float: right;
}
.services_img_4{
    width: 316px;
    height: 182px;
    float: right;
}
.services_img_5{
    width: 316px;
    height: 182px;
    float: right;
}
.services_div_2{
    width: 484px;
    //height: 312px;
    float: left;
    margin-bottom: 70px;
}
.services_button{
  background: url('/img/services_but.png') -5px -5px no-repeat;
  display: block;
  width: 235px;
  height: 55px;
  font-family: MyriadProSemiBold;
  font-size: 18px;
  color: #fff;
  padding-top: 16px;
  padding-left: 34px;
  text-transform: uppercase;
  position: absolute;
  bottom: 10px;
  left: 270px;
}
.services_button:hover{
   background-position: -5px -70px;
}
.services_header_line{
  width: 986px;
  height: 80px;
  background: url('/img/services_header.png') center no-repeat;
  position: absolute;
  margin: 0 auto;
  right: 0;
  left: 0;
  top: 36px;
}
/* Services END */

/* Forfeit Start */

.forfeit_header_line{
    width: 1144px;
    height: 125px;
    background: url('/img/forfeit_header.png') center no-repeat;
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 16px;
    margin-left: 20px;
}
.forfeit_text_1{
    font-family: MyriadProBold;
    font-size: 24px;
    line-height: normal;
    text-align: center;
    color: #1e1e1e;
    text-transform: uppercase;
    margin-top: 60px;
}
.forfeit_you{
  width: 197px;
  height: 318px;
  background: url('/img/forfeit_you.png') center no-repeat;
  position: relative;
  float: left;
}
.forfeit_text_2{
    font-family: MyriadProSemiBold;
    font-size: 18px;
    color: #1e1e1e;
    line-height: normal;
    float: right;
}
.forfeit_button{
    width: 267px;
    height: 65px;
    background: url('/img/forfeit_button.png') no-repeat;
    background-position: -5px -5px;
    padding-top: 18px;
    text-align: center;
    display: inline-block;
    font-family: MyriadProRegular;
    font-size: 24px;
    margin: 20px 0 0 20px;
    color: #fff;
    float: left;
}
.forfeit_button:hover{
    background-position: -5px -80px;
}
.suka{
    width: 782px;
    height: 224px;
    background: url('/img/suka_bleat.png') center no-repeat;
    position: relative;
    float: left;
    margin-bottom: 28px;
}
.forfeit_warning{
    width: 64px;
    height: 60px;
    background: url('/img/forfeit_warning.png') center no-repeat;
    position: relative;
    float: left;
    margin-top: 22px; 
    margin-right: 25px;
}
.forfeit_text_3{
    font-family: MyriadProRegular;
    font-size: 18px;
    color: #1e1e1e;
    line-height: normal;
    float: right;
    width: 724px;
    margin-bottom: 30px;
}
.forfeit_text_4{
    font-family: MyriadProBold;
    font-size: 24px;
    color: #1e1e1e;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.forfeit_police{
    width: 513px;
    height: 366px;
    background: url('/img/forfeit_police.png') center no-repeat;
    position: relative;
    float: left;
    margin-left: -22px;
}
.forfeit_text_5{
    font-family: MyriadProRegular;
    font-size: 18px;
    color: #1e1e1e;
    line-height: normal;
    float: left;
}
.forfeit_table{
    float: left;
    font-family: MyriadProRegular;
    font-size: 18px;
    color: #1e1e1e;
    line-height: normal;
    text-align: left;
}
table.pr{
    width: 760px;
    padding: 30px;
    border-spacing: 2px;
    float: left;
    font-family: MyriadProRegular;
    font-size: 18px;
    color: #1e1e1e;
    line-height: normal;
    text-align: left;
    margin: 24px 0 60px 0;
}

table.pr td, table.pr th{
    padding: 14px 20px;
    border: 2px solid #acacac;
    width: 253px;
}
table.pr TH {
    background: #c52727; /* Цвет фона */
    color:#f6f6f6;
   }
.forfeit_text_6{
    font-family: MyriadProBold;
    font-size: 24px;
    color: #1e1e1e;
    line-height: normal;
    float: left;
    margin: 0 23px 0 29px;
}
.forfeit_diagram{
    width: 128px;
    height: 140px;
    background: url('/img/forfeit_diagram.png') center no-repeat;
    position: relative;
    float: left;
}
.forfeit_time{
    width: 44px;
    height: 47px;
    background: url('/img/forfeit_time.png') center no-repeat;
    position: relative;
    float: left;
}
.suka_2{
    width: 763px;
    height: 288px;
    background: url('/img/suka_bleat_2.png') center no-repeat;
    position: relative;
    float: left;
    margin-bottom: 28px;
}
.forfeit_text_7{
    float: left;
    text-align: left;
    color: #1e1e1e;
    font-family: MyriadProSemiBoldItalic;
    font-size: 18px;
    width: 604px;
    margin-top: 10px;
    margin-left: 30px;
}
.forfeit_warning_2{
    width: 64px;
    height: 60px;
    background: url('/img/forfeit_warning.png') center no-repeat;
    position: relative;
    float: left;
    margin-right: 66px;
}
.forfeit_warning_3{
    width: 64px;
    height: 60px;
    background: url('/img/forfeit_warning.png') center no-repeat;
    position: relative;
    float: right;
    margin-left: 66px;
}
.forfeit_text_8{
    float: left;
    text-align: center;
    color: #1e1e1e;
    text-transform: uppercase;
    font-family: MyriadProBold;
    font-size: 24px;
    margin-top: 14px;
    line-height: normal;
    width: 532px;
}
.forfeit_text_9{
    float: left;
    text-align: center;
    color: #1e1e1e;
    font-family: MyriadProSemiBold;
    font-size: 18px;
    line-height: normal;
    margin-top: 26px;
    margin-bottom: 100px;
}
/* Forfeit END */
/* Estr Start */
.step_1_active{
    width: 174px;
    height: 102px;
    background: url('/img/estr/step_1_active.png') center no-repeat;
    float: left;
}
.step_2_active{
    width: 232px;
    height: 110px;
    background: url('/img/estr/step_2_active.png') center no-repeat;
    float: left;
}
.step_3_active{
    width: 299px;
    height: 107px;
    background: url('/img/estr/step_3_active.png') center no-repeat;
    float: left;
}
.step_4_active{
    width: 268px;
    height: 101px;
    background: url('/img/step_4_active.png') center no-repeat;
    float: left;
}
.step_1{
    width: 173px;
    height: 94px;
    background: url('/img/estr/step_1.png') center no-repeat;
    float: left;
}
.step_2{
    width: 227px;
    height: 102px;
    background: url('/img/estr/step_2.png') center no-repeat;
    float: left;
}
.step_3{
    width: 288px;
    height: 98px;
    background: url('/img/estr/step_3.png') center no-repeat;
    float: left;
}
.step_4{
    width: 264px;
    height: 94px;
    background: url('/img/estr/step_4.png') center no-repeat;
    float: left;
}
.step_support{
    margin-left: 24px;
    margin-top: 40px;
}
.step_support_2{  
    margin-top: 44px;
}
.estr_warning{
    width: 64px;
    height: 60px;
    background: url('/img/estr/estr_warning.png') center no-repeat;
    float: left;
}
.estr_warning_sup_1{
  /* margin-top: 44px; */
  margin-right: 34px;
  margin-bottom: 70px;
}
.estr_text_1{
  font-size: 18px;
  color: #1e1e1e;
  font-family: MyriadProBold;
  text-align: left;
  margin-top: 44px;
  margin-bottom: 32px;
}
.ll_2{
    background: url('/img/estr/ll_2.png') repeat;
    width: 100%;
    height: 2px;
    float: right;
    margin-bottom: 30px;
}
.sample_estr{
    border: 4px solid #2d87c6;
    position: relative;
    width: 172px;
    float: left;
    background-color: #f4f4f4;
}
.sample_estr_press_1{
    width: 90px;
    height: 36px;
    background-color: #2d87c6;
    position: absolute;
    top:0;
    left: 0;
}
.estr_text_2{
    color: #fff;
    font-family: MyriadProRegular;
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
}
.sample_estr_press_2{
    width: 164px;
    height: 50px;
    background-color: #2d87c6;
    position: absolute;
    bottom:0;
}
.sample_estr_sup_1{
    margin-right: 30px;
}
.estr_text_3{
    color: #2d87c6;
    text-transform: uppercase;
    font-family: MyriadProBold;
    font-size: 24px; 
}
.estr_button_1{
    width: 233px;
    height: 56px;
    background: url('/img/estr/estr_button_1.png') -5px -5px;
    color: #fff;
    font-family: MyriadProBold;
    font-size: 24px;
    display: inline-block;
    margin-top: 18px;
    padding: 9px 0 0 50px;
    cursor: pointer;
}
.estr_button_1:hover{
    background-position: -5px -71px;
}
.estr_text_4{
    font-size: 24px;
    color: #1e1e1e;
    font-family: MyriadProRegular;
    text-align: left;
}
.estr_warning_sup_2{
  margin-top: 20px;
  margin-right: 20px;
}
.magin_top_24{
    margin-top: 24px;
}
.magin_top_34{
    margin-top: 34px;
}
.magin_top_18{
    margin-top: 18px;
}
.estr_blue_arrow{
    width: 46px;
    height: 54px;
    background: url('/img/estr/estr_blue_arrow.png') center no-repeat;
    float: left;
}
.estr_warning_sup_3{
  margin-top: 20px;
  margin-right: 30px;
  margin-left: 10px;
}
.estr_warning_sup_4{
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 186px;
}
.estr_button_2{
    width: 233px;
    height: 56px;
    background: url('/img/estr/estr_button_2.png') -5px -5px;
    color: #fff;
    font-family: MyriadProBold;
    font-size: 24px;
    display: inline-block;
    margin-top: 18px;
    padding: 9px 0 0 30px;
    cursor: pointer;
}
.estr_button_2:hover{
    background-position: -5px -71px;
}
.estr_line_grey{
    background: url('/img/estr/estr_line_grey.png') repeat;
    width: 100%;
    height: 134px;
    //margin-bottom: 30px;
    margin-top: 30px;
}
.estr_button_3{
    width: 280px;
    height: 60px;
    background: url('/img/estr/estr_button_3.png') -5px -5px;
    color: #fff;
    font-family: MyriadProBold;
    font-size: 24px;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 38px;
    padding: 13px 0 0 34px;
    float: left;
    cursor: pointer;
}
.estr_button_3:hover{
    background-position: -5px -75px;
}
.credit{
    background: url('/img/estr/credit.png');
    width: 82px;
    height: 75px;
    margin: 40px 0 0 0;
    float: left;
}
.estr_text_5{
    color: #1e1e1e;
    text-transform: uppercase;
    font-family: MyriadProBold;
    font-size: 24px; 
}
.estr_black_box{
    width: 103px;
    height: 112px;
    background: url('/img/estr/estr_black_box.png') center no-repeat;
    float: left;
    margin: 30px 60px 30px 36px;
}
.estr_text_6{
    color: #1e1e1e;
    text-transform: uppercase;
    font-family: MyriadProSemiBold;
    font-size: 24px;
}
.estr_clock{
    width: 81px;
    height: 87px;
    background: url('/img/estr/estr_clock.png') center no-repeat;
    float: left;
    margin: 30px 60px 30px 36px;
}
.estr_download{
    width: 177px;
    height: 163px;
    background: url('/img/estr/estr_download.png') center no-repeat;
    float: left;
    margin: 0 60px 30px 36px;
}

input[type="radio"] {
    display:none;
}
input[type="radio"] + label span {
    display:inline-block;
    width: 33px;
    height: 33px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(/img/estr/checkbox.png)  -5px -5px;
    cursor:pointer;
}
input[type="radio"]:checked + label span {
    background-position: -48px -5px;
}
.progress{
    margin-left: 218px;
    position: absolute;
}
#progress1{
    bottom: 50px;
    left: 204px;
}
#progress2{
    width: 200px;
    margin-top: 10px;
}
#progress3{
    width: 200px;
    margin-top: 10px;
}
#progress4{
    width: 200px;
    margin-top: 10px;
}
#progress5{
    width: 200px;
    margin-top: 10px;
}
#progress6{
    width: 200px;
    margin-top: 10px;
}
#progress7{
    width: 200px;
    margin-top: 10px;
}
/* Estr END */


/* About_company START */

.about_slider{
    width: 100%;
    height: 602px;
    background: url(/img/about_slider_bgr.jpg)center no-repeat;
    background-size: cover;
}

.slider_care{
    width: 892px;
    height: 363px;

}
.telek{
  width: 918px;
  height: 429px;
  background: url(/img/telek.png)center no-repeat;
  margin: 0 auto;
  margin-top: 142px;
  padding: 13px 13px 53px 13px;
}
.about_slide_image{
    width: 100%;
    height: 100%;
    
}
.slider_about_company .slick-dots li.slick-active button:before{
      color: #d7d7d7
}
.slider_about_company .slick-dots li button:before {
  font-size: 50px;
  color: #A4A4A5;
}
.kovichki{
  position: absolute;
  width: 800px;
  height: 79px;
  top: 40px;
  right: 25px;
  background: url(/img/kovichki.png)center no-repeat;
}
.about_line{
    background: url('/img/bgr_slide_2.jpg') repeat-x ;
    width: 100%;
    height: 155px;
    position: relative;
}
.about_company_text_1{
  font-size: 24px;
  color: #1e1e1e;
  text-transform: uppercase;
  font-family: MyriadProBold;
  margin: 64px 27px 0 27px;
  display: inline-block;
  float: left;
}
.about_company_text_2{
  font-size: 24px;
  color: #1e1e1e;
  font-family: MyriadProBold;
  margin: 48px 0 0 69px;
  display: inline-block;
}
.about_1{
    float: left;
}
.about_2{
    float: left;
    margin-top: 20px;
}
.work_text{
    text-align: center;
    font-size: 18px;
    color: #1e1e1e;
    font-family: MyriadProBold;
}
.work{
    margin: 36px 0 46px 0;
}
.text_about_bot{
    font-size: 18px;
    color: #1e1e1e;
    font-family: MyriadProBold;
}
.text_about_1{
    font-family:MyriadProSemiBold;
    font-size: 18px;
    color: #1e1e1e;
}
.about_company_text_3{
    font-size: 18px;
    color: #1e1e1e;
    text-transform: uppercase;
    font-family: MyriadProBold;
    margin: 24px 0 0 17px;
    display: inline-block;
    float: right;  
}
.about_company_text_4{
    font-size: 18px;
    color: #1e1e1e;
    font-family: MyriadProSemiBold;
    margin: 21px 0 0 2px;
    display: inline-block;
    float: right;  
}
.about_company_text_5{
  font-size: 18px;
  line-height: 24px;
  /* margin-top: 131px; */
  width: 100%;
  padding-top: 7px;
  color: #1e1e1e;
  font-family: MyriadProSemiBold;
  margin: 0px 0 0 0px;
  display: inline-block;
  float: left;  
}
.slider_care button.slick-next{
  background: url('/img/slider/slider_arrow_about.png') center no-repeat;
  width: 18px;
  height: 25px;
  top: 50%;
  right: -50px;
}
.slider_care button.slick-prev{
    background: url('/img/slider/slider_arrow_about.png') center no-repeat;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    width: 18px;
    height: 25px;
    top: 50%;
    left: -50px;
}
/* About_company END */


/* mercury START */

.mercury_title_line{
    font-size: 30px;
    color: #2d87c6;
    //text-transform: uppercase;
    text-align: center;
    font-family: MyriadProBold;
}
.mercury_img{
    display: block;
    margin-top: 27px;
    float: left;
}
.mercury_button{
  width: 162px;
  height: 46px;
  background: url('/img/button_merc_zakaz.png') -5px -5px;
  position: absolute;
  top: 165px;
  left: 201px;
}
.mercury_button:hover{
    background-position: -5px -61px;
}
.merc_text_blue{
    color: #2d87c6;
    font-size: 18px;
    text-transform: uppercase;
    font-family: MyriadProBold;
}
.merc_box_1{
    float: left;
    margin-left: 32px;
    margin-top: 2px;
    line-height: 22px; 
}
.merc_box_1_1{
    width: 15px; 
    height: 100px;
    float: left;
}
.merc_text_grey{
   color:#1e1e1e; 
   font-size: 18px;
   line-height: 24px;
   font-family: MyriadProRegular;
}
.merc_text_grey span{
   line-height: 20px;
}
.merc_box_1_2{
  width: auto;
  height: auto;
  float: left;
  margin: 1px 0 0 4px;
}

.merc_box_2{
    float: left;
    margin-top: 37px;
    line-height: 22px; 
}
.table_merc{
    color: #ffffff;
    font-size: 18px;
    background: #434b50;
    border:1px solid #a4a7aa;
    line-height: 24px;
    font-family: MyriadProRegular;
}

table.table_merc tr>td:nth-child(1){
    padding: 14px;
    width: 534px;
    padding-left: 11px;
    border: 1px solid #a4a7aa;
}
table.table_merc tr>td:nth-child(2){
    text-align: center;
    width: 260px;
    border: 1px solid #a4a7aa;
    border-left: 2px solid #a4a7aa;
}
.td_merc_title{
  color: #ffffff;
  font-size: 18px;
  background: #a4a7aa!important;
  line-height: 36px;
  font-family: MyriadProBold;
  padding: 0px 0 0px 12px!important;
}

/* mercury END */

/* continental START */

.continental_button{
  width: 162px;
  height: 46px;
  background: url('/img/button_merc_zakaz.png') -5px -5px;
  position: absolute;
  top: 30px;
  left: 88px;
  z-index: 1;
}
.continental_button:hover{
    background-position: -5px -61px;
}
.under_cont{
   text-align: left;
  font-size: 18px;
  line-height: 24px;
  color: #1e1e1e;
  text-transform: uppercase;
  font-family: MyriadProBold;
  padding-top: 20px;
}
.cont_img{
    display: block;
   // margin-top: 27px;
    
}
.right_cont{
    float: right;
    width: 457px;
    font-size: 18px;
    font-family: MyriadProRegular;
    color: #1e1e1e;
    text-align: left;
}
.contintal_best_buy{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
}
/* continental END */

/* atol START */

.atol_tah{
    display: block;
    margin: 22px 0 0 55px;
}
.atol_best_buy{
    position: absolute;
    top: -10px;
    left: 48px;
    z-index: 3;
}
.atol_button{
  width: 162px;
  height: 46px;
  background: url('/img/button_merc_zakaz.png') -5px -5px;
  position: absolute;
  top: 6px;
  left: 86px;
  z-index: 1;
}
.atol_button:hover{
    background-position: -5px -61px;
}
.atol_text_box_1{
    color: #1e1e1e;
    font-family: MyriadProBold;
    font-size: 18px;
    margin: 22px 0 0 0;
    display: inline-block;
}
.mt22{
    margin-top: 22px;
}
.mt14{
    margin-top: 14px;
}
/* atol END */

/* catalog START */

.catalog_title{
    width: 100%;
    display: inline-block;
    font-family: MyriadProRegular;
    font-size: 18px;
    color:#000000;
    text-align: center;
    margin-top: 47px;
}
.catalog_box{
    width: 226px;
    height: 262px;
    background: url('/img/catalog_bgr.png') center no-repeat;
    position: relative;
    float: left;
}
.catalog_box_title{
    font-family: MyriadProBold;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    height: 66px;
    padding-top: 14px;
}
.cat_1{
    position: absolute;
    margin: 26px auto;
    left: 0;
    right: 0;
}
.cat_2{
    position: absolute;
    margin: 48px auto;
    left: 0;
    right: 0;
}
.cat_3{
    position: absolute;
    margin: 4px auto;
    left: 0;
    right: 0;
}
.cat_but_1{
    background: url('/img/crazy_button.png') -5px -5px no-repeat;
    background-repeat: no-repeat;
    display: block;
    width: 162px;
    height: 46px;
    font-family: MyriadProSemiBold;
    font-size: 18px;
    color: #323a52;
    padding-top: 9px;
    padding-left: 16px;
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.cat_but_1:hover {
    background-position: -5px -61px;
}
.catalog_text_box{
    width: 320px;
    font-family: MyriadProRegular;
    color:#1e1e1e;
    font-size: 18px;
    float: left;
}
.catalog_text_title{
    font-family: MyriadProBold;
    line-height: 14px;
    margin-bottom: 7px;
}
.catalog_text_title_2{
    font-family: MyriadProBold;
    line-height: 14px;
    margin-bottom: 7px;
    font-size: 18px;
}
.catalog_text_main{
    
}
.ml23{
    margin-left: 23px;
}
.ml18{
    margin-left: 18px;
}
.mt32{
    margin-top: 32px;
}
.pt20{
    padding-top: 23px;
}
.malevich_1{
    margin: 0 10px 5px 0;
}
.malevich_2{
    margin: 0 10px 5px 0;
}
.ll2{
    background: url('/img/ll.png') repeat;
    width: 100%;
    height: 2px;
    margin: 27px 0 30px;
    float: left;
}
.cat_box_text_2{
    width: 560px;
    margin-left: 20px;
    float: left;
        font-family: MyriadProRegular;
    color:#1e1e1e;
    font-size: 18px;
    float: left;
}

/* catalog END */

/* Footer START */

.main_footer{
    width: 100%;
    position: relative;
    background: #1e1e1e;
      margin-top: 100px;
    height: 69px;
}
.main_footer_middle{
    width: 100%;
    position: relative;
    background: #161616;
    height: 374px;
}
#footer_menu {
    list-style: none;
}
#footer_menu li{
    float: left;
    margin-top: 24px;
    margin-right: 26px;
    font-family: MyriadProRegular;
    font-size: 18px;
    color: white;
}
#footer_menu li a{
     color: white;
}
.container iframe{
    margin-top: 31px;
    float: left;
}
.footer_img{
    margin: 31px 10px 0 30px;
    float: left;
    margin-bottom: 20px
}
.footer_info_box{
    margin-top: 24px;
    position: relative;
    color: white;
    font-family: MyriadProRegular;
    font-size: 18px;
}
.footer_info_box span{
    font-family: MyriadProBold;
    font-size: 24px;
}
.footer_info_box span{
    font-size: 24px;
}
.footer_text_left{
    float: left;
    font-size: 18px;
    margin-top: 19px;
    font-family: MyriadProRegular;
    color: white;
}
.footer_text_right{
    float: right;
    font-size: 18px;
    margin-top: 19px;
    font-family: MyriadProRegular;
    color: white;
}
/* Footer END */


/* speedometers START */
.speedometers_title{
    color:black;
    font-family:  MyriadProRegular;
    font-size: 18px;
}
.call_ass{
    width:193px;
    height: 136px;
    position: relative;
    margin: 0 0 0 0;
}
.speed_row_top{
    background: #a4a7aa;
    width: 813px;
    height: 41px;
    padding: 13px;
    color: #fff;
    font-family: MyriadProBold;
    font-size: 18px;
    float: left;
    margin-top: 30px;
}
.speed_row_bot{
    background: #434b50;
    width: 813px;
    //height: 41px;
    padding: 13px;
    color: #fff;
    font-family: MyriadProRegular;
    font-size: 18px;
    line-height: 36px;
    float: left;
}
/* speedometers END */

/* faq start */
.merc_box_1_1 img{
   
}
.title_faq{
    color: #2d87c6;
    font-family: MyriadProBold;
    font-size: 43px;
    text-align: center;
    margin-top: 48px;
}
.faq_line{
  background: url('/img/news_line.png') no-repeat;
  width: 720px;
  height: 4px;
  float: left;
  position: relative;
  
  margin: 30px 0 50px 0;
}
.blue{
    color: #2d87c6;  
}
.mp_b{
    font-family: MyriadProBold;
}
.mp_r{
    font-family: MyriadProregular;
}
.fs_18{
    font-size: 18px;
}
.fs_24{
    font-size: 24px;
}
.fs_20{
    font-size: 20px;
}
/* faq END */

/*added */

.added_button{
    width: 233px;
    height: 56px;
    background: url('/img/estr/estr_button_2.png') -5px -5px;
    color: #fff;
    font-family: MyriadProBold;
    font-size: 24px;
    display: inline-block;
    position: absolute;
    right: 230px;
    bottom: 99px;
    padding: 9px 0 0 30px;
    cursor: pointer;
}
.added_progress{
    position: absolute;
    right: 242px;
    bottom: 50px;
}

.left_conti{
    float: left;
    height: 126px;
    width: 93px;
}
.right_conti{
    font-family: MyriadProRegular;
    font-size: 18px;
    color: #1e1e1e;
    
}
.conti_img{
    margin: 37px 0 45px 88px;
}
.conti_button{
  width: 162px;
  height: 46px;
  background: url('/img/button_merc_zakaz.png') -5px -5px;
  position: absolute;
    top: 322px;
    right: 64px;
  z-index: 1;
}
.conti_button:hover{
    background-position: -5px -61px;
}
.call_me{
    width: 283px;
    height: 168px;
    background: url('/img/call.png') center no-repeat;
    position: relative;
    margin-bottom: 21px;
}
.call_me_maybee{
    background: url('/img/call_me_maybee.png') center no-repeat;
    width: 230px;
    height: 38px;
    display: block;
    margin: 99px 0 0 25px;
    position: absolute;
}